<h1>Welcome to Kit's Roommates app</h1>
<p>Here you can pay rent, send money to eachother, Update the shopping list, and send group messeges.</p>

<p>If you are new to the loft click here to Sign up.</p>

<p>Other wise click here to Sing in.</p>
